rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Tüm dosyalar için - herkes okuyabilir ve yazabilir (sabah çalışan ayar)
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
